* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}
.navbar{
  background-color: #ffffffc9;
}
.navbar-nav .nav-link {
  font-weight: 500;
  color: #000000;
  font-family: cursive;
  font-size: 18px;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}
.navbar-toggler-icon i{
  color: #ffffff;
}
.header a img {
  height: 58px;
  width: 68px;
  object-fit: cover;
}

.header a img:hover {
  height: 60px;
  width: 70px;
  object-fit: cover;
}

.header button {
  font-size: 20px;
}

.header div .log {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  font-size: 15px;
  border: none;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  transition: 0.5s;
}

.header div .log:hover {
  background: linear-gradient(to left, #74ebd5, #acb6e5);
}

.header ul li {
  margin: 5px 20px;
}

/* heading section */
.heading h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat";
  font-size: 30px;
  font-weight: bold;
  color: #035a89;
  padding: 10px 0px;
  margin: 20px 0px;

}

/* hero section */
section.hero {
  width: 100%;
  background-image: url("../images/hero3.jpg");
  background-repeat: no-repeat;
  height: 70vh;
  object-fit: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- Search Box ---------- */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 50px;
  max-width: 1200px;
  margin-top: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
}

.search-container select {
  width: 180px;

  padding: 10px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  appearance: none;
  /* remove default arrow */
  background-image: url("data:image/svg+xml;utf8,<svg fill='%233b57f0' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.search-btn {
  background: transparent;
  border: none;
  color: #1f57e7;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-btn:hover {
  background: #98a4e4;
}

section.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fffffffd;
  margin-bottom: 30px;
  font-family: cursive;
  margin: 20px 0px;


}

.hero .hero_btn {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  font-size: 18PX;
  padding: 8px 23px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.hero .hero-btn:hover {
  background: linear-gradient(to left, #74ebd5, #acb6e5);
  padding: 10px 25px;
}

/*image row  */
.category-slider {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px;
  background: transparent;
}

.cat-item {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cat-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.cat-item p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.cat-item:hover {
  transform: translateY(-5px);
}


/* two-column section */
.two-column-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.image-side,
.content-side {
  flex: 1 1 400px;
  padding: 20px;
}

.image-side img,
video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.content-side h2 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #333;
}

.content-side p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.content-side .checklist {
  list-style: none;
  padding: 0;
}

.content-side .checklist li::before {
  content: "✔";
  color: rgb(0, 0, 0);
  font-weight: 20pxx;
  margin-right: 8px;
  justify-content: start;
  font-size: 15px;
}

.btn {
  display: inline-block;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: linear-gradient(to left, #74ebd5, #acb6e5);
}

/* most searches car */
.car-section {
  padding: 40px 20px;
  background: transparent;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.car-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.car-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.car-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.car-card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.price {
  color: #091b2f;
  font-weight: bold;
  margin-bottom: 10px;
}

.car-card button {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  color: #000000;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.car-card button:hover {
  background: linear-gradient(to left, #74ebd5, #acb6e5);
}

/* BOOK NOW */

.booking-form {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 15px;
  font-family: sans-serif;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}


.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 6px;
  color: #333;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  align-items: center;
}

.book-btn {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  color: rgb(0, 0, 0);
  border: none;
  padding: 14px 20px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 350px;
  margin: 0 auto;

}

.book-btn:hover {
  background: linear-gradient(to left, #74ebd5, #acb6e5);
}

.book-btn:hover {
  background-color: #000000;
}

.booking-details {
  margin-top: 25px;
  background: #e6ffe6;
  padding: 15px;
  border-radius: 8px;
}

.booking-details ul {
  padding-left: 18px;
}

/* recomended car for you */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

.badge-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 12px;
  border-radius: 50px;
  font-size: 0.8rem;
  color: #fff;
}

.price-old {
  text-decoration: line-through;
  color: #999;
}

.view-link {
  text-decoration: none;
  font-weight: 500;
  color: #4f46e5;
}

.view-link:hover {
  text-decoration: underline;
}

.recomended a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  padding: 10px 15px;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* why choose us */
/* Font Awesome for icons (add this to your <head> in HTML) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

.why-choose-us {
  padding: 40px 20px;
  text-align: center;
}

.why-choose-us .container {
  max-width: 1500px;
  margin: 0 auto;
}

.why-choose-us h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.why-choose-us .subtext {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature-card {
  background: #fff;
  padding: 30px 20px;
  flex: 1 1 220px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card i {
  font-size: 36px;
  color: #035a89;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.feature-card p {
  font-size: 16px;
  color: #666;
}

/* newslatter section */
.newsletter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: auto;
  padding: 10px 100px;
  flex-wrap: wrap;
  background-color: white;
}

.newsletter-text h2 {
  margin: 0;
  font-size: 24px;
}

.newsletter-text p {
  margin: 8px 0 0;
  color: #333232;
}

.newsletter-form {
  display: flex;
  background-color: transparent;
  color: black;
  border-radius: 50px;
  overflow: hidden;
  max-width: 450px;
  width: 100%;
  border: 1px solid gray;
}

.newsletter-form input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  background: transparent;
  color: white;
  outline: none;
}

.newsletter-form button {
  background-color: #021b99b1;
  color: white;
  border: none;
  padding: 0 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 15PX;
}

.newsletter-form button:hover {
  background-color: #2e47cc;
}

/* counter */
.counter{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.stat h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #035a89;
}

.stat p {
  color: #555;
  margin-top: 5px;
}
footer {
  margin-top: 20px;
}

/* ---------- Responsive hero section ---------- */
@media (max-width: 768px) {

  .search-container {
    border-radius: 15px;
    flex-direction: column;
    align-items: stretch;
    height: 250px;
  }

  .search-container select {
    border-bottom: 1px solid #eee;
    flex: 1 1 auto;
    width: 100%;
    height: 25px;
    font-size: 13px;
  }

  .search-btn {
    align-self: center;
    font-size: 10px;
  }
}

@media (max-width: 400px) {

  section.hero h1 {
    font-size: 1.5rem;
  }

  .search-container {
    border-radius: 15px;
    flex-direction: column;
    align-items: stretch;
    height: 250px;
  }

  .search-container select {
    border-bottom: 1px solid #eee;
    flex: 1 1 auto;
    width: 100%;
    height: 25px;
    font-size: 13px;
  }

  .search-btn {
    align-self: center;
    font-size: 10px;
  }
}

/*  */
@media (max-width: 600px) {
  .cat-item {
    width: 90px;
    height: 90px;
    padding: 10px;
  }

  .cat-item img {
    width: 30px;
    height: 30px;
  }
}


/* book now section */
@media (max-width: 600px) {
  .booking-form {
    max-width: 90%;
    font-size: 15px;
  }

  .form-group {
    flex: 1 1 100%;
  }
}

/* why choose us */
@media (max-width: 768px) {
  .feature-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}